
doctype html
head
  title Main Page
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/styles.css')
  link(rel='stylesheet' href='/stylesheets/header-footer.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  link(rel='shortcut icon' href='Media/favicon.ico')
#covidInfo.alert.alert-danger.alert-dismissible.fade.show.text-center
  button.close(type='button' data-dismiss='alert') &times;
  |         Covid-19 changed everything. We are now introducing pet cargo system!
  a.alert-link(href=`team`) Click here to get more information!
header
  img#IG_picture.rounded(src='/images/injuredGood.png' alt='IG Picture')
  form.form-inline(action='http://www.google.com/search' method='get')
    div
      label
        input.form-control(type='text' name='q' placeholder='Search on Google...')
    button.btn.btn-primary(type='submit' value='Search') Search
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.container-fluid
    a.navbar-brand(href='index.html')
      img(src='Media/favicon.ico' alt='logo' style='width: 40px;')
    // Links
    ul.navbar-nav
      li
        a.nav-link.active(href='index.html') IG VETERINARY
      li.nav-item
        a.nav-link(href='Html%20Files/blog.html') Blog
      li.nav-item
        a.nav-link(href='Html%20Files/services.html') Services
      li.nav-item
        a.nav-link(href='Html%20Files/team.html') Team
      li.nav-item
        a.nav-link(href='Html%20Files/gallery.html') Gallery
      li.nav-item
        a.nav-link(href='Html%20Files/contactme.html') Contact Us
      li.nav-item
        a.nav-link(href='Html%20Files/registration.html') Register
main.row.container
  section.col-sm-8.text-center
    h2 Welcome to IG Veterinary!
    br
    h4 We&apos;ve been waiting for you!
    br
    figure.figure.col-sm-5
      img.figure-img.container.rounded(src='Media/vetServices.png' height='250' alt='horse')
    figure.figure.col-sm-5
      img.figure-img.container.rounded(src='Media/main.jpg' height='250' alt='Animal Group')
  section.col-sm-4.float-right.text-center
    h4 IG Veterinary Clinic
    h5 Please Login
    form.form-group(action='index.html')
      label(for='username')
      input#username.form-control(name='username' placeholder='Username')
      label(for='password')
      input#password.form-control(name='password' type='password' placeholder='password')
      br
      .btn-group
        button.form-inline.btn.btn-primary.btn-lg(type='submit' value='Login') Login
        button.form-inline.btn.btn-primary.btn-lg(type='submit' formaction='Html%20Files/registration.html' value='Register!') Register!
// Footer
footer.page-footer.font-small.indigo
  form(style='text-align: center')
    button.btn.btn-primary.btn-lg(formaction='https://www.pinterest.com' type='submit')
      i.fa.fa-pinterest
    button.btn.btn-primary.btn-lg(formaction='https://www.facebook.com' type='submit')
      i.fa.fa-facebook
    button.btn.btn-primary.btn-lg(formaction='https://twitter.com' type='submit')
      i.fa.fa-twitter
    button.btn.btn-primary.btn-lg(formaction='https://instagram.com' type='submit')
      i.fa.fa-instagram
  .footer-copyright.text-center.py-3
    | All Rights Reserved &copy; IG Company
  // Copyright
// Footer
