doctype html
head
    title Team
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/header-footer.css')
    link(rel='stylesheet' href='/stylesheets/styles.css')
    link(rel='shortcut icon' href='../Media/favicon.ico')
#covidInfo.alert.alert-danger.alert-dismissible.fade.show.text-center
    button.close(type='button' data-dismiss='alert') &times;
    |     Covid-19 changed everything. We are now introducing pet cargo system!
    a.alert-link(href='cargopet.html') Click here to get more information!
header
    img#IG_picture.rounded(src='/images/injuredGood.png' alt='IG Picture')
    form.form-inline(action='http://www.google.com/search' method='get')
        div
            label
                input.form-control(type='text' name='q' placeholder='Search on Google...')
        button.btn.btn-primary(type='submit' value='Search') Search
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.container-fluid
        a.navbar-brand(href='../index.html')
            img(src='/images/favicon.ico' alt='logo' style='width: 40px;')
        // Links
        ul.navbar-nav
            li
                a.nav-link(href='../index.html') IG VETERINARY
            li.nav-item
                a.nav-link(href='blog.html') Blog
            li.nav-item
                a.nav-link(href='services.html') Services
            li.nav-item
                a.nav-link.active(href='team.html') Team
            li.nav-item
                a.nav-link(href='gallery.html') Gallery
            li.nav-item
                a.nav-link(href='contactme.html') Contact Us
            li.nav-item
                a.nav-link(href='registration.html') Register
main.row.container-fluid
    .card-deck
        .card.col-sm-6.container
            .card-body
                img.card-img-top(src='/images/team.png' alt='Card image')
                h4.card-title Our Team
                p.card-text
                    | We opened our doors at AVS Vet Express in Morgantown, WV where Dr. Robert Fraley joined us in Partnership.
                    b(style='color: darkblue')  Click button
                    |  to learn more about our Doctors and staff who are dedicated to the &ldquo;Alpha&rdquo; way in every way!
                a.btn.btn-primary(href='biographies.html') See Biographies
        .card.col-sm-6.container
            .card-body
                h4.card-title Pet Cargo System
                p.card-text
                    | Pet cargo system is a new feature that is started for these quarantine days. we hope that this will be a tradition to cargo your pets to us safely and save your precious time.
                    b(style='color: darkblue') Click Button
                    |  to get more
                    |         information about pet cargo system
                a.btn.btn-primary(href='cargopet.html') Click For details
                img.card-img-bottom(src='/images/team2.png' alt='Card image')
// Footer
footer.page-footer.font-small.indigo
    form(style='text-align: center')
        button.btn.btn-primary.btn-lg(formaction='https://www.pinterest.com' type='submit')
            i.fa.fa-pinterest
        button.btn.btn-primary.btn-lg(formaction='https://www.facebook.com' type='submit')
            i.fa.fa-facebook
        button.btn.btn-primary.btn-lg(formaction='https://twitter.com' type='submit')
            i.fa.fa-twitter
        button.btn.btn-primary.btn-lg(formaction='https://instagram.com' type='submit')
            i.fa.fa-instagram
    .footer-copyright.text-center.py-3
        | All Rights Reserved &copy; IG Company
    // Copyright
// Footer
